.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 80px;
    background-color: rgb(36, 36, 36);
    height: 100vh;
    justify-content: center;

}

.mywork-title h1{
    padding: 0px 30px;
    font-size: 40px;
    font-weight: 500;
}

.mywork-container img{
    width: 300px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 10px;
}
.mywork-container img:hover{
    transform: scale(1.1);
    border: 1px solid red ;
}
